:root {
  --primary-color: #5c73e6;
  --dark-bg: #1b1b1f;
}

html {
  font-size: 16px;
  height: 100vh;
  background-color: #fff;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100vh;
}

html.dark {
  background: var(--dark-bg);
  color: #fff;
}
